# Student Sardines T-Test

* Calculate the mean for each population.

* Use a T-Test to determine if there is a statistically significant difference in the number of vertebrae of Adult Sardines in Alaska vs. San Diego.

* It is up to you to determine if you should use a One Sample or Independent t-test.

In [1]:
import pandas as pd
import scipy.stats as stats

# Dataset: sardine.dat

Source: F.N. Clark (1936). "Variations in the Number of Vertebrae in Sardine,
Sardinops caerulea (Girard)", Copeia, Vol. 1936, #3, pp.147-150.

Description: Number of Vertebrae and Location of 12858 adult sardines caught
in the Pacific.

Locations:
1=Alaska
2=British Columbia
3=San Francisco
4=Monterey
5=San Pedro
6=San Diego


Variables/Columns
Location   8
Number of Vertebrae   15-16

In [2]:
df = pd.read_csv("../Resources/sardines.csv")
df.head()

   location  vertebrae
0         1         51
1         1         51
2         1         51
3         1         51
4         1         51

In [4]:
# Calculate the population mean for Sardine Vertebrae in Alaska
df_ak = df.loc[df['location']==1]
ak_mean = df_ak['vertebrae'].mean()
print(ak_mean)
df_ak.head()

51.5

   location  vertebrae
0         1         51
1         1         51
2         1         51
3         1         51
4         1         51

In [5]:
# Calculate the population mean for Sardine Vertebrae in San Diego
df_sd = df.loc[df['location']==6]
sd_mean = df_sd['vertebrae'].mean()
print(sd_mean)
df_sd.head()

51.743362831858406

       location  vertebrae
12519         6         51
12520         6         51
12521         6         51
12522         6         51
12523         6         51

In [6]:
# Calculate Independent (Two Sample) T-Test
stats.ttest_ind(df_ak['vertebrae'], df_sd['vertebrae'], equal_var=False)

Ttest_indResult(statistic=-1.96067447006733, pvalue=0.060719723777883004)